<!DOCTYPE html>
<html lang="en"
                xmlns:th = "http://thymeleaf.org"
                xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate = "~{template.html}"
>
<head>
    <title>Lista de instrumentos</title>
</head>
<body>
<div layout:fragment="conteudo">
<h1>Lista de instrumentos</h1>
    <a href="/instrumentos/formularioInstrumentos">Novo</a>
    <table>
        <thead>
            <tr>
                <th>NOME</th>
                <th>VOZ</th>
                <th>FAMILIA DO INSTRUMENTO</th>
                <th>AÇÕES</th>
            </tr>
        </thead>
             <tbody>
                <tr th:each = "instrumentos : ${lista}">
                    <td th:text = "${instrumentos.nome}"></td>
                    <td th:text = "${instrumentos.voz}"></td>
                    <td th:text = "${instrumentos.familia_instrumento}"></td>
                    <td>
                        <a th:href="@{/instrumentos/formularioInstrumentos?id={id}(id=${instrumentos.id})}">Editar</a>
                        <form action="/instrumentos" method="post" >
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="id" th:value="${instrumentos.id}">
                            <input type="submit" value="excluir">
                        </form>
                    </td>
                </tr>
             </tbody>
    </table>
</div>
     </body>

</html>