<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{template.html}"
>

<head>
    <title>Cadastro de Músicos</title>
</head>
<body>
<div layout:fragment="conteudo">
<h1>Cadastro de Músicos</h1>
<form method="post" action="/musicos">

    <input type="hidden" name="_method" value="put" th:if="${musicos != null}">
    <input type="hidden" name="id" th:value="${musicos?.id}">

    <div>
    <label for="nome">Nome:</label>
    <input id="nome" name="nome" th:value="${musico?.nome}">
    </div>
    <br/>

    <div>
        <label for="instrumentosID">Selecione seu Estado:</label>
        <select id="instrumentosID">
            <option th:value="${instrumentos?.nome}"></option>
            <option value="AL">Alagoas</option>
        </select>

    </div>
    <br/>

    <br/>
    <div>
    <label for="fase">Fase:</label>
    <input id="fase" name="fase" th:value="${musicos?.fase}">
    </div>
    <br/>

    <input type="submit" value="Cadastrar">
   <br>

</form>
    <a href="/musicos/listagem" id="voltar">voltar</a>
</div>
<script>
    $(document).ready(function() {
        $('#instrumentosID').select2();
    });
</script>
</body>
</html>